@tailwind base;
@tailwind components;
@tailwind utilities;

/** Navbar **/
/* Smooth transitions */
.nav-link,
.dropdown-content {
  transition: all 0.2s ease-in-out;
}
/* Dropdown animation */
.dropdown-content {
  z-index: 10;
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.group:hover .dropdown-content {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
/* Chevron rotation */
.group:hover .chevron-down {
  transform: rotate(180deg);
}
.chevron-down {
  transition: transform 0.2s ease-in-out;
}
/* Mobile menu animation */
.mobile-menu {
  transition: max-height 0.3s ease-in-out;
}
